@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: url("../img/funky-lines.png");
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 30px;
    box-shadow: 0px 0px 4px 2px gray;
}

#form {
    padding: 20px;
    box-shadow: 0px 0px 4px 2px gray;
    border: none;
}

#main-p {
    font-size: 20px;
    font-style: italic;
}

#table {
    box-shadow: 0px 0px 4px 2px gray;
    border: none;
    margin: 0;
    border-radius: 4px;
}

.footer {
    height: 80px;
    padding-top: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px 2px gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}